<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="row">
    <div>
      <label class="form-label" for="post-title">Your Title Here</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label class="form-label" for="post-url">Put The Link Here</label>
      <input class="form-control" id="post-url" name="post-url" />
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>