<form class="login-form">
  <div class="row">
    <div>
      <label class="form-label" for="email-login"></label>
      <input
        class="elogin form-control"
        type="text"
        id="email-login"
        placeholder="Enter Your Email"
        style="background-color: rgb(195, 222, 237);"
      />
    </div>
    <div>
      <label class="form-label" for="password-login"></label>
      <input
        class="elogin form-control"
        type="password"
        id="password-login"
        placeholder="Enter Your Password"
        style="background-color: rgb(195, 222, 237);"
      />
    </div>
    <div>
      <button
        class="btn-lg btn-primary btn-block"
        id="login-btn"
        type="submit"
      >SIGN IN</button>
    </div>
  </div>
</form><br /><br /><br />

<form class="signup-form">
  <div class="row">
    <div>
      <label class="form-label" for="username-signup"></label>
      <input
        class="elogin form-control"
        type="text"
        id="username-signup"
        placeholder="Create Username"
        style="background-color: rgb(195, 222, 237);"
      />
    </div>
    <div>
      <label class="form-label" for="email-signup"></label>
      <input
        class="elogin form-control"
        type="text"
        id="email-signup"
        placeholder="Enter Your Email"
        style="background-color: rgb(195, 222, 237);"
      />
    </div>
    <div>
      <label class="form-label" for="password-signup"></label>
      <input
        class="elogin form-control"
        type="password"
        id="password-signup"
        placeholder="Enter Your Password"
        style="background-color: rgb(195, 222, 237);"
      />
    </div>
    <div>
      <button
        class="btn-lg btn-primary btn-block"
        id="signup-btn"
        type="submit"
      >SIGN UP</button>
    </div>
  </div>
</form>

<script src="/javascript/login.js"></script>